/* Violeta Courier */

.byGoogle.topAds {
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;
  background:#FFFFFF none repeat scroll 0 0;
  padding:12px;
}
  .byGoogle.topAds li {
    margin-bottom: 15px;
  }
  
.byGoogle.topAds a.titleUrl {
  font-size: 14px;
  font-family:Helvetica, Arial, sans-serif;
  display:block;
  color:#8a0072;
  margin-bottom:6px;
  text-decoration:underline;
}

.byGoogle.topAds a.titleUrl:hover {
  color:#c92bad;
}
.byGoogle.topAds .urlAds .url {
  color: #5916a4;
  cursor: pointer;
}
.byGoogle.topAds span.desc {
  color:#444;
}